* {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    background: white;
}

.navbar {
    background: linear-gradient(to right, #8bffeb, #f29d01e8);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

.navdiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 75px;
    width: 75px;
    margin-left: 25px;
}

ul {
    margin: 10px;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
    color:white;
    font-size: 26px;
    padding: 10px;
    margin-right: 25px;
    font-weight: 600;
    text-decoration: none;
}

li a:hover {
    color: aliceblue;
}

.login {
    border-radius: 25px;
    background-color: rgb(249, 249, 249);
    margin-left: 10px;
    padding: 10px;
    width: 90px;
    border-color: aliceblue;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    font-size: 17px;
}
.login:hover {
    background:linear-gradient(to right, #8bffeb, #f29d01e8);
    color:white;
}

.cart-amount{
    position: absolute;
    right: 3%;
    top: 10%;
    font-size: 13px;
    font-weight: 500;
   background-color: red;
   padding: 2px;
   border-radius: 3px;
   color: white;
   /* border: 2px solid #fff; */
}
.sort-list {
    display: inline-flex;
}

.ndiv {
    display: inline-flex;
    border-radius: 25px;
    justify-content: space-between;
    padding: 5px 5px;
    margin-right: 5px;

}
.navbottom {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.sort-img {
    height: 180px;
    width: 144px;
}

.horizontal-line {
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    /* Light gray color */
    margin: 20px 0;
    /* Adjust as needed */
}

.page-margin {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;
}

.heading {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #656565;

}

.search-col {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.search-col input {
    width: 547px;
    font-size: 20px;   
}

.search-box input {
    border: none;
    margin-left: 1px;
    padding-left: 20px;
    /* padding-top: 3px; */
    outline: none;
}

.search-box {
    border: 1px solid grey;
    border-radius: 35px;
    margin: 10px;
    padding: 8px;
}

.search-box button {
    border: none;
    background-color: rgb(255, 218, 8);
    border-radius: 20px;
    width: 110px;
    height: 37px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    /* cursor: pointer; */
}

.search-box button span {
    padding-left: 4px;
}

.south-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.flex {
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

.flex2 {
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

.south-img {
    text-align: center;
    margin: 15px;
}

.south-img-word {
    padding-top: 10px;
}

.gallery-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallary-wrapper{
    overflow: hidden;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 25%;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.left-nav {
    left: 1px;
}

.right-nav {
    right: 1px;
}

.body-margin{
    margin-left: 10%;
    margin-right: 10%;
}

.cart-slider {
    margin-top: 50px;
  
    background-color: #fff;
}
.cart-list::-webkit-scrollbar {
    display: none;
}
.cart-slider h2 {
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
}
.cart-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);  */
    margin: 30px; 
    padding: 10px;
}
.cart-item{
    width: 330px;
    height: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Subtle shadow below */
                0 2px 4px rgba(0, 0, 0, 0.08); /* Soft shadow around */
    background-color: #fff; /* Optional: Set background color to white */
    transition: box-shadow 0.3s ease;
    padding: 10px;
    margin-right: 40px;
    flex-shrink: 0;
}

.cart-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}
.cart-image-item{
    width: 200px;
   height: 200px;
   /* padding: 5px; */
   /* box-sizing: border-box; */
   display: block; /* Ensures the image is treated as a block element */
   margin-top: 5px; 
   margin: 0 auto;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); 
}

.cart-item h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.cart-detail {
    display: flex;
    flex-direction: row;
   
  }
  .text {
    margin-left: 40px;
  }
 .symbol{
     text-align: left;
     font-weight: 800;
     font-size: 23px;
     margin-left: 20px;
}
.btn {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    align-items: center; 
}
.kitch-name {
    font-size: 18px;
    color: dimgray;
    margin-left: 20px;
    margin-top: 8px;
    text-align: left;
    font-weight: 600;
}

.add-btn{
    text-align: right;
    font-size: 20px;
/* background-color: rgb(19, 231, 19); */
border-radius: 20px;
  padding: 10px 20px;
  margin-left: 30px;
  margin-top: 4px;
 /* margin-bottom: 10px;  */
}

/* .controls {
    display: none ;
} */

.controls {
    text-align: right;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
    /* margin-top: 4px; */
    position: absolute; 
    left:  20%; 
    bottom: -30%;
   gap: 10px;
}

/* Styling for the remove and add icons */
.remove-icon, .add-icon {
    width: 30px   ; /* Adjust size of the icons */
    height: 30px   ;
    cursor: pointer;  /* Pointer cursor to indicate it's clickable */
     /* Add space between the icons and the count */
    transition: transform 0.2s ease;  /* Smooth scale effect on hover */
    /* padding: 10px; */
}

/* Hover effect for icons */
.remove-icon:hover, .add-icon:hover {
    transform: scale(1.1);  /* Slightly increase size on hover */
}

/* Styling for the count display */
.count {
    font-size: 25px;  /* Font size for the count number */
    font-weight: 600;
    padding-top: 7px;
    color: #333;  /* Dark color for contrast */
    /* margin-top: 10px; */
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
    font-size: 24px;
  }
  
  #social-icon__link {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  #social-icon__link:hover {
    transform: translateY(-10px);
    text-decoration: none;
    color: #717171;
  }
  
  .menu__link {
    font-size: 20px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.5;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
