<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="images/png" href="/images/file.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Page</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/orderpage.css" type="text/css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="navdiv">
        <a href="/html/orderpage.html"
          ><img class="logo" src="/images/file.png" alt=""
        /></a>
        <ul>
          <li><a href="/html/index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Join Us</a></li>
          <li><a href="#">Contact</a></li>
          <button class="login"><a href="/html/login.html">Login</a></button>
          <li>
            <a href="/html/cart.html"
              ><i class="fa fa-shopping-cart" style="font-size: 24px"></i
            ></a>
          </li>
          <li id="cart-amount" class="cart-amount">0</li>
        </ul>
      </div>
    </nav>
    <div class="page-margin">
      <div class="search-col">
        <form class="search-box">
          <input type="text" placeholder="Search...." />
          <button>
            <i class="fa-solid fa-magnifying-glass"></i><span>Search</span>
          </button>
        </form>
      </div>
      <div class="navbottom">
        <div class="sort-list">
          <a href="#" >
            <div class="ndiv">
              <img class="sort-img" alt="" src="/images/cakes.avif" />
            </div>
          </a>
          <a href="#">
            <div class="ndiv">
              <img class="sort-img" alt="" src="/images/chinese.avif" />
            </div>
          </a>
          <a href="#">
            <div class="ndiv">
              <img class="sort-img" alt="" src="/images/southindian.avif" />
            </div>
          </a>
          <a href="#">
            <div class="ndiv">
              <img class="sort-img" alt="" src="/images/Beverages.png" />
            </div>
          </a>
        </div>
      </div>
      <hr class="horizontal-line" />
      <div>
        <div class="body-margin">
          <div class="heading">
            <p>South Indian</p>
          </div>
          <div class="gallery-container">
            <div class="gallary-wrapper">
              <div class="flex">
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-1.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Fish Fry</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-2.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Paniyaram</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-3.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Sambar Vada</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-4.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Aappam</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-5.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Fish Fry</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-6.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Briyani</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-8.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Idly</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-9.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Meals</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-10.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Chettinad chicken curry</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-11.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Lemon Rice</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/southindian/South-12.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Curd Rice</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="nav left-nav" onclick="imgScrollLeft()">
              &#8249;
            </button>
            <button class="nav right-nav" onclick="imgScrollRight()">
              &#8250;
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="body-margin">
          <div class="heading">
            <p>Chinese and Continential</p>
          </div>
          <div class="gallery-container">
            <div class="gallary-wrapper">
              <div class="flex">
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 1.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Veg Noodles</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 2.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Chicken Noodles</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese-3.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Chicken Fried Rice</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 4.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Veg Fried Rice</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 5.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Gobi Manchurian</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 66.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Chilli Pasta</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 7.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Mac & Cheese</p>
                  </div>
                </div>
                <div class="south-img">
                  <a href="">
                    <img alt="" src="/images/Chinese/Chinese - 9.jpg"
                  /></a>
                  <div class="south-img-word">
                    <p>Chicken Lollipop</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="nav left-nav" onclick="imgScrollLeft()">
              &#8249;
            </button>
            <button class="nav right-nav" onclick="imgScrollRight()">
              &#8250;
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-slider">
      <h2>Most favorites</h2>
      <div class="cart-list">
        <div id="one" class="cart-item">
          <img src="/images/cart 1/cart-1.jpg" class="cart-image-item" alt="" />
          <h3>Idly sambar with vada</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 70</span>
              <h4 class="kitch-name">Kitchen 1</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="two" class="cart-item">
          <img src="/images/cart 1/cart-2.jpg" class="cart-image-item" alt="" />
          <h3>Idiyappam with kadala curry</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 50</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="three" class="cart-item">
          <img src="/images/cart 1/cart-3.jpg" class="cart-image-item" alt="" />
          <h3>Poori with potato</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 60</span>
              <h4 class="kitch-name">Kitchen 1</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="four" class="cart-item">
          <img src="/images/cart 1/cart-4.jpg" class="cart-image-item" alt="" />
          <h3>Chicken Lollipop</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 140</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="five" class="cart-item">
          <img src="/images/cart 1/cart-5.jpg" class="cart-image-item" alt="" />
          <h3>Dosa with sambar</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 49</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="six" class="cart-item">
          <img src="/images/cart 1/cart-6.jpg" class="cart-image-item" alt="" />
          <h3>Mutton Gravey</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 110</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="seven" class="cart-item">
          <img src="/images/cart 1/cart-7.jpg" class="cart-image-item" alt="" />
          <h3>Idly with VadaCurry</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 80</span>
              <h4 class="kitch-name">Kitchen 1</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="eight" class="cart-item">
          <img src="/images/cart 1/cart-8.jpg" class="cart-image-item" alt="" />
          <h3>Chappathi with chicken</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹100</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="nine" class="cart-item">
          <img src="/images/cart 1/cart-9.jpg" class="cart-image-item" alt="" />
          <h3>Bread Omelette</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 50</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="ten" class="cart-item">
          <img
            src="/images/cart 1/cart-10.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Podi Idly</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 70</span>
              <h4 class="kitch-name">Kitchen 1</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-slider">
      <h2>Top Rated Foods for You</h2>
      <div class="cart-list">
        <div id="Eleven" class="cart-item">
          <img
            src="/images/cart 2/cart-2-1.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Chicken Biriyani</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 130</span>
              <h4 class="kitch-name">Kitchen 4</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="tweleve" class="cart-item">
          <img
            src="/images/cart 2/cart-2-2.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Meen Kulambu</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 89</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="thirteen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-3.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>White rice</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 69</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="fourteen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-4.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Prawn Curry</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 170</span>
              <h4 class="kitch-name">Kitchen 4</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="fivteen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-5.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>sambar with potato Fry</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 90</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="sixteen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-6.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Lime Juice</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 30</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="seventeen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-7.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Mutton Biriyani</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 170</span>
              <h4 class="kitch-name">Kitchen 4</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="eighteen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-8.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Puttu with kadala curry</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 90</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="nineteen" class="cart-item">
          <img
            src="/images/cart 2/cart-2-9.jpg"
            class="cart-image-item"
            alt=""
            alt=""
          />
          <h3>Egg Podimas</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 50</span>
              <h4 class="kitch-name">Kitchen 1</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twenty" class="cart-item">
          <img
            src="/images/cart 2/cart-2-10.jpg "
            class="cart-image-item"
            alt=""
            alt=""
          />
          <h3>Chicken 65</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 80</span>
              <h4 class="kitch-name">Kitchen 5</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-slider">
      <h2>New Arrivals for You</h2>
      <div id="twentyone" class="cart-list">
        <div class="cart-item">
          <img
            src="/images/cart-3/cart-3-1.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Chicken Rice</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 150</span>
              <h4 class="kitch-name">Kitchen 4</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentytwo" class="cart-item">
          <img
            src="/images/cart-3/cart-3-2.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>French Fries</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 79</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentythree" class="cart-item">
          <img
            src="/images/cart-3/cart-3-3.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Bread Halwa</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 80</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentyfour" class="cart-item">
          <img
            src="/images/cart-3/cart-3-4.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Rasam 300ml</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 50</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentyfive" class="cart-item">
          <img
            src="/images/cart-3/cart-3-5.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Homemade ice cream 100g</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 60</span>
              <h4 class="kitch-name">Kitchen 5</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentysix" class="cart-item">
          <img
            src="/images/cart-3/cart-3-6.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Ghee Rice</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 80</span>
              <h4 class="kitch-name">Kitchen 4</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentyseven" class="cart-item">
          <img
            src="/images/cart-3/cart-3-7.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Badam Juice</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 30</span>
              <h4 class="kitch-name">Kitchen 2</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentyeight" class="cart-item">
          <img
            src="/images/cart-3/cart-3-8.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Curd Rice</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹ 90</span>
              <h4 class="kitch-name">Kitchen 3</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="twentynine" class="cart-item">
          <img
            src="/images/cart-3/cart-3-9.jpg"
            class="cart-image-item"
            alt=""
            alt=""
          />
          <h3>Mutton Chukka</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹140</span>
              <h4 class="kitch-name">Kitchen 1</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
        <div id="thirty" class="cart-item">
          <img
            src="/images/cart-3/cart-3-10.jpg"
            class="cart-image-item"
            alt=""
          />
          <h3>Kesari</h3>
          <div class="cart-detail">
            <div class="text">
              <span class="symbol">₹40</span>
              <h4 class="kitch-name">Kitchen 5</h4>
            </div>
            <div class="btn">
              <button class="add-btn">Add to cart</button>
              <div class="controls" style="display: none">
                <!-- Initially hidden -->
                <img
                  class="remove-icon"
                  src="/images/remove_icon.png"
                  alt="Remove"
                />
                <p class="count">0</p>
                <img class="add-icon" src="/images/add_icon.png" alt="Add" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <ul class="social-icon">
        <li class="social-icon__item">
          <a class="fab fa-facebook" id="social-icon__link" href="#">
            <ion-icon name="logo-facbook"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="fab fa-twitter" id="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="fab fa-linkedin" id="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="fab fa-instagram" id="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
      </ul>
      <p>
        &copy;2024 @Copyright by Aswin,Arun,Christy,Aarthi | All Rights Reserved
      </p>
    </footer>
    <script src="../static/js/orderpage.js" type="text/javascript"></script>
  </body>
</html>