<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/registration.css">
</head>

<body>
    <h1 class="reg-head">Registration for cook</h1>
 
    <div id="form-container" >
        <div class="form-step active" id="step-1">
            <form  id="personal-details-form" method="post" action="/registration">
              <div class="form-heading">
                   <h2 >Personal Details</h2>
               </div>

                <label for="cooksName">Name</label>
                <input type="text" id="cooksName" name="cooks_name" required>

                <label for="male">
                    <input type="radio" name="gender" id="gender" value="male" required>
                    Male
                </label>
                <label for="female">
                    <input type="radio" name="gender" id="gender" value="female" required>
                    Female
                </label>
                <label for="other">
                    <input type="radio" name="gender" id="gender" value="other" required>
                    Other
                </label>

                <label for="fathersName">Father's Name</label>
                <input type="text" id="fathersName" name="fathers_name" required>


                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" name="dob" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone_number" required>

            
            <div class="form-buttons">
                <button id="back-1" type="button" disabled>Back</button>
                <button id="next-1" type="button">Next</button>
            </div>
        </form>
        </div>

        <div class="form-step active" id="step-2">
            <form  id="address-form" action="/registration" method="post">
                    <div class="form-heading">
                       <h2>Address Details</h2>
                    </div>
                <label for="street">Street Address</label>
                <input type="text" id="streetAddress" name="street_address" placeholder="123 Main St" required>

                <label for="city">City</label>
                <input type="text" id="city" name="city" placeholder="Enter your city" required>

                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="Enter your state" required>

                <label for="zip">ZIP Code</label>
                <input type="text" id="pincode" name="pincode" placeholder="12345" required>

                <label for="country">Country</label>
                <input type="text" id="country" name="country" placeholder="Enter your country" required>
           

            <div class="form-buttons">
                <button id="back-2" type="button">Back</button>
                <button id="next-2" type="button">Next</button>
            </div>

        </form>
        </div>

        <div class="form-step" id="step-3">
            <form  id="document-form" method="post" action="/registration">
                <div class="form-heading">
                    <h2 >Upload Documents & Identity Verification</h2>
                </div> 
                <!-- Photo Upload -->
                <label for="profile-photo">Upload Your Photo</label>
                <input type="file" id="profile-photo" name="profile-photo" accept="image/*" required>

                <!-- Aadhaar Card Number -->
                <label for="aadhaar-number">Aadhaar Card Number</label>
                <input type="text" id="aadhaar-number" name="aadhaar_number" placeholder="Enter your Aadhaar number"
                    required>

                <!-- PAN Card Number -->
                <label for="pan-number">PAN Card Number</label>
                <input type="text" id="pan-number" name="pannumber" placeholder="Enter your PAN number" required>

                <!-- Verified Document Upload -->
                <label for="verified-document">Upload Verified Document (Aadhaar or PAN)</label>
                <input type="file" id="verified-document" name="verified-document" accept=".pdf,.jpg,.jpeg,.png"
                    required>
            
            <div class="form-buttons">
                <button id="back-3" type="button">Back</button>
                <button id="next-3" type="button">Next</button>
            </div>
        </form>
        </div>

        <div class="form-step" id="step-4">

            <form  id="bank-details-form" method="post" action="/registration">
                <div class="form-heading">
                    <h2>Bank Details</h2>
                </div>
            
                <!-- Account Holder's Name -->
                <label for="account-holder-name">Account Holder's Name</label>
                <input type="text" id="account-holder-name" name="account-holder-name"
                    placeholder="Enter the account holder's name" required>

                <!-- Bank Account Number -->
                <label for="account-number">Bank Account Number</label>
                <input type="text" id="account-number" name="account_number" placeholder="Enter your account number"
                    required>

                <!-- Confirm Account Number -->
                <label for="confirm-account-number">Confirm Account Number</label>
                <input type="text" id="confirm-account-number" name="confirm-account-number"
                    placeholder="Re-enter your account number" required>

                <!-- IFSC Code -->
                <label for="ifsc-code">IFSC Code</label>
                <input type="text" id="ifsc-code" name="ifsc_code" placeholder="Enter your bank's IFSC code" required>

                <!-- Bank Name -->
                <label for="bank-name">Bank Name</label>
                <select id="bank-name" name="bank_account_name" required>
                    <option value="" disabled selected>Select your bank</option>
                    <option value="State Bank of India">State Bank of India</option>
                    <option value="HDFC Bank">HDFC Bank</option>
                    <option value="ICICI Bank">ICICI Bank</option>
                    <option value="Punjab National Bank">Punjab National Bank</option>
                    <option value="Axis Bank">Axis Bank</option>
                    <option value="Kotak Mahindra Bank">Kotak Mahindra Bank</option>
                    <option value="Bank of Baroda">Bank of Baroda</option>
                    <option value="Canara Bank">Canara Bank</option>
                    <option value="Other">Other</option>
                </select>

                <!-- Other Bank Name Input -->
                <div id="other-bank-name-container" style="display: none;">
                    <label for="other-bank-name">Please Specify Your Bank Name</label>
                    <input type="text" id="other-bank-name" name="bank_account_name" placeholder="Enter your bank name">
                </div>

                <!-- Branch Name -->
                <label for="branch-name">Branch Name</label>
                <input type="text" id="branch-name" name="branch-name" placeholder="Enter your branch name" required>
                <div class="form-buttons">
                    <button id="back-4" type="button">Back</button>
                    <button id="next-4"type="button">Next</button>
                </div>
                
            </form>

        </div>

        <div class="form-step" id="step-5">

          <form  id="kitchen-profile-form" action="/registration" method="post">
            <div class="form-heading">
                <h2>Kitchen Profile</h2>
            </div>
                <!-- Kitchen Name -->
                <label for="kitchen-name">Kitchen Name</label>
                <input type="text" id="kitchen-name" name="kitchen_name" placeholder="Enter your kitchen name" required>

                <!-- Profile Photo -->
                <label for="profile-photo">Profile Photo</label>
                <input type="file" id="profile-photo" name="profile-photo" accept="image/*" required>

                <!-- About Me -->
                <label for="about-me">About Me</label>
                <textarea id="about-me" name="abount_me" placeholder="Tell us about yourself and your kitchen" rows="4"
                    required></textarea>

                <!-- Years of Experience -->
                <label for="experience">Years of Experience in Cooking</label>
                <select id="experience" name="experience" required>
                    <option value="" disabled selected>Select your experience</option>
                    <option value="2">2 Years</option>
                    <option value="3">3 Years</option>
                    <option value="4">4 Years</option>
                    <option value="5+">5+ Years</option>
                    <option value="10+">10+ Years</option>
                </select>

                <!-- Working Days -->
                <label for="working-days">How many days will you be working in a week?</label>
                <select id="working-days" name="working_days" required>
                    <option value="" disabled selected>Select the number of days</option>
                    <option value="3 days">3 Days</option>
                    <option value="4 days">4 Days</option>
                    <option value="5 days">5 Days</option>
                    <option value="6 days">6 Days</option>
                    <option value="7 days">7 Days</option>
                </select>

                <!-- Operating Hours -->
                <label for="opening-time">Operating Hours</label>
                <div class="operating-hours">
                    <div>
                        <label for="opening-time">Opening Time</label>
                        <input type="time" id="opening-time" name="opening-time" required>
                    </div>
                    <div>
                        <label for="closing-time">Closing Time</label>
                        <input type="time" id="closing-time" name="closing-time" required>
                    </div>
                </div>

                <!-- Cuisine Specialization -->
                <div id="cuisine-options">
                    <div class="cuisine-option">
                        <label for="indian">
                            <input type="checkbox" id="indian" name="cuisine" value="Indian"> Indian
                        </label>
                    </div>
                    <div class="cuisine-option">
                        <label for="italian">
                            <input type="checkbox" id="italian" name="cuisine" value="Italian"> Italian
                        </label>
                    </div>
                    <div class="cuisine-option">
                        <label for="chinese">
                            <input type="checkbox" id="chinese" name="cuisine" value="Chinese"> Chinese
                        </label>
                    </div>
                    <div class="cuisine-option">
                        <label for="thai">
                            <input type="checkbox" id="thai" name="cuisine" value="Thai"> Thai
                        </label>
                    </div>
                    <div class="cuisine-option">
                        <label for="mexican">
                            <input type="checkbox" id="mexican" name="cuisine" value="Mexican"> Mexican
                        </label>
                    </div>
                    <div class="cuisine-option">
                        <label for="others">
                            <input type="checkbox" id="others" name="cuisine" value="Others"> Others
                        </label>

                    </div>
                    <div id="other-cuisine-container" style="display: none;">
                        <label for="other-cuisine">Please Specify Other Cuisine</label>
                        <input type="text" id="other-cuisine" name="other-cuisine" placeholder="Enter the cuisine">
                    </div>
                </div>
                <div class="form-buttons">
                    <button id="back-5" type="button">Back</button> 
                    <button type="submit" id="submit">submit</button>   
                </div>
            </form>

        </div>

    </div>

    <script src="../js/registration.js"></script>
</body>

</html>